:root {
  --background-color: #fff;
  --header-text: #000080;
  --body-text: #0ff;
  --accent-color: #00E89E;
  --accent-color-two: #FFF200;
  --highlight-color: #82C0E8;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Gluten'
}
